<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flatsearchffm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/07776910-b5bc-48f4-a1d1-4d8d17966bdf/resourceGroups/Phil/providers/Microsoft.Web/sites/FlatSearchFfm</ResourceId>
    <UserName>$FlatSearchFfm</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://flatsearchffm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>